# Export all names
exportPattern(".")
useDynLib(seas)

import(stats, graphics, utils)
importFrom("grDevices", "colorRampPalette", "terrain.colors")
importFrom("MASS", "kde2d")

S3method(image, seas.sum)
S3method(plot, interarrival)
S3method(plot, seas.norm)
S3method(plot, seas.sum)
